---
import type { BaseSelectProps } from '@/types/BaseSelectProps';
import SearchableSelect from "../iu/SearchableSelect.astro"

const DOCUMENT_LIST = [
  {id:"1", name:"CC"},
  {id:"2", name:"CE"},
  {id:"3", name:"PAS"}
]

const {
  id = "identification_type",
  name = "tipo_identificacion",
  label = "Tipo Identificación",
  required = true
} = Astro.props as BaseSelectProps;

---

<div class="flex flex-col">
  <label for="identification" class="text-[rgb(0,179,160)] mb-2">
    {label}
  </label>

  <SearchableSelect
   id={id}
   placeholder="Tipo Identificación"
   required={required}
  >
  <select 
    id={id}
    name={name}
    required
    class="w-full border p-2 rounded h-10.5 border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
      <option value="" disabled selected hidden>Tipo de identificación</option>
      {
        DOCUMENT_LIST.map(document => (
          <option value={document.id}>{document.name}</option>
        ))
      }
    </select>
  </SearchableSelect>
  {required && (
    <span class="hidden text-red-500 text-sm mt-1">
      Campo requerido
    </span>
  )}
</div>