---
import ImageTextCard from "../ui/ImageTextCard.astro";
import Paragraph, { type PropsParagraph } from "../ui/Paragraph.astro";
import Title from "../ui/Title.astro"

export interface Props {
  title?: string,
  information: Array<PropsParagraph>,
  banner: string,
  text: string,
  diagram?: string
}

const {title, information, banner, text, diagram}= Astro.props;
---

<div class="container max-w-6xl mx-auto px-7 font-['Bai_Jamjuree',sans-serif] mt-20 mb-40">
  <Title title={title} />

  <div class="mt-8 grid grid-cols-1 items-start gap-6 lg:grid-cols-2 lg:gap-10">
    <div class="w-full pb-2 pr-10 lg:max-w-xl">
      {information.map((info) => (
        <Paragraph subtitle={info.subtitle} paragraph={info.paragraph} />
      ))}
    </div>
<div class="w-full lg:max-w-2xl lg:justify-self-end">
  <ImageTextCard
    image={banner}
    imageClassName="aspect-video md:aspect-[16/7]"
    text={text}
  />
</div>
    <div class="w-full flex justify-center lg:col-span-2 pt-10">
      <img src={diagram} alt="diagrama" class="max-w-full h-auto w-175" />
    </div>
  </div>
</div>